<%- include('boards-header', {href: '../stylesheets/boards.css' });%>        
        <div id="mainbody">
            <div id="welcome">
                <h1>Welcome <%= user.username %></h1>
            </div>

            <div id="add-board-dropdown-div">
                <button type="button" id="add-new-board-btn">Add New Board</button>
                <!-- Dropdown -->
                <div id="board-dropdown" class="board-dropdown-content">
                    <form id="board-form">
                        <input type="text" id="name" name="name" autocomplete="off" placeholder="Add a Board...">
                        <button id="board-submit-btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>

            <!-- List of boards -->
            <div id="personalBoards">
                <img src="../images/personal.png">
                <h3>Personal Boards</h3>
            </div>
            
            <div id="boardsList">
                <ul class="ul-boards">

                </ul>
            </div>
        </div>
<%- include('boards-footer', {script: '../javascripts/boards.js' });%>
