<html>
    <head>
        <title>Board</title>         
        <link rel="stylesheet" type="text/css" href= <%=href%>>

    </head>
    <body>
        <div id="taskbar">
            <div id="leftTaskBar">
                <button type="button" id="board-btn"><img src="images/boards.png">Boards</button>
                <div id="board-btn-content">
                    <a href="#">Board 1</a>
                    <a href="#">Board 2</a>
                    <a href="#">Board 3</a>
                </div>
            </div>
            <div id="rightTaskBarList">
                <ul>
                    <li><button type="button" id="firstButton">GM</button></li>
                    <li><button type="button"><img src="images/bell.png"></button></li>
                    <li><button type="button"><img src="images/info.png"></button></li>
                    <li><button type="button"><img src="images/plus.png"></button></li>
                    <li><a href="/logout"><button type="button" id="logout-btn"><p>Log Out</p></button></a></li>
                </ul>            
            </div>
        </div>  
