<%- include('board-header', {href: '/stylesheets/board.css' });%>
<div id="board-header">
    <p id="boardName">Board 1</p>
    
    <button type="button" id="show-menu-btn">Show Menu</button>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
        <a href="">Members</a>
        <a href="">Activity</a>
    </div> 
    <div id="pos-list-dropdown">
        <button type="button" id="addNewListBtn">Add New List</button>
        <div id="add-list-dropdown" class="list-dropdown-content">
            <form id="list-submit-btn-form">
                <input type="text" id="newListInput" placeholder="Add a list...">
                <button type="submit" id="list-submit-btn">Submit</button>
            </form>
        </div>
    </div>

</div>
<div id="Listdiv">
    <ul id="list">
        <!-- LISTS GO HERE -->                
    </ul>
</div> 

<!-- My Modal -->
<div id="myModal" class="modal">

    <div class="modal-content">
        <div class="card-left-side">
            <div id="card-name">
                <p>This is the card name (make editable)</p>
            </div>
            <div>
                <h3 id="description">Edit the description...</h3>
            </div>
            <div class="addComment">
                <h3>Comments:</h3>
                <!--To hold comments -->
                <div id="comments"></div>
                <h4>Add Comment:</h4>
                <form id="comment-form">
                    <input type="text" placeholder="Write a comment..." id="comm">
                </form>
                <button type="button" id="add-comment-button">Send</button>
            </div>
            <div id="labels">
                <h3>Labels:</h3>
                <div id="label-colors">
                </div>
            </div>
            <div id="author-div">
                <h3>Author (Username):</h3>
                <p id="author"></p>
            </div> 
        </div>
        <div class="card-right-side">
            <span class="close">&times;</span>

            <div>
                <button type="button" id="delete-card-btn">Delete Card</button>
                <button type="button" id="label-btn">Labels</button>

                <div id="labeldropdown" class="label-dropdown-content">
                    <button id="green"></button>
                    <button id="yellow"></button>
                    <button id="orange"></button>
                    <button id="red"></button>
                    <button id="purple"></button>
                    <button id="blue"></button>
                </div>
      
            </div>
        </div>
    </div>
</div>

<!-- Card drop down -->
<div class="addCardDropdown carddropdown-content" id="popup">
    <form class="submit-btn-form">
        <input type="text" class="newCardInput" placeholder="Enter Description...">
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>
        
<script> var id = '<%- id %>'; </script>   
<%- include('board-footer', {script: '/javascripts/board.js' });%>