<html>
    <head>
        <title>Prello</title>
        
        <link rel="stylesheet" type="text/css" href=<%=href%> >
        
    </head>
    <body>
    <div id="taskbar">
        <ul id="leftTaskBarList">
            <li><button type="button" id="boardTaskBar"><img src="images/boards.png">Boards</button></li>
        </ul>
        
        <ul id="rightTaskBarList">
            <li><button type="button" id="firstButton">GM</button></li>
            <li><button type="button"><img src="images/bell.png"></button></li>
            <li><button type="button"><img src="images/info.png"></button></li>
            <li><button type="button"><img src="images/plus.png"></button></li>
            <li><a href="/logout"><button type="button" id="logout-btn"><p>Log Out</p></button></a></li>
        </ul>
    </div>