<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <h1>Forgot Password?</h1>
        <form id="forgot-pass-form" method="post" action="/users/checkemail">
            <p>Enter your email to reset password </p>
            <input type="email" id="email" name="email" autocomplete="off" placeholder="e.g., anteater@uci.edu" required>

            <input type="submit" id="register-btn"  value="Submit"></button>
        </form>

    </body>
</html>

