<html>
    <head>
        <title>Link To Reset Password</title>
    </head>
    <body>
        <h1>Reset Password?</h1>
        <form id= method="" action="/users/resetpass2">
            <input type="submit" id="register-btn"  value="RESET"></button>
        </form>
    </body>
</html>