<html>
    <head>
        <title>Link To Reset Password</title>
    </head>
    <body>
        <h1>Reset Password?</h1>
        <form id="form" method="post" action=<%- url %>>
            <button type="submit" id="reset-btn">RESET</button>
        </form>
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../javascripts/resetpass.js"></script>
        -->

        <script> 
            var id = '<%- id %>';
            var email = '<%- email %>';
            var url = '<%- url %>'
        </script>  
    </body>
</html>