<html>
    <head>
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <form id="forgot-pass-form" method="post" action="/users/checkemail">
            <h2>Enter your new password </h2>
                <p>Password </p>
                <input type="password" id="password" name="password" autocomplete="off" placeholder="e.g., *********" required>
            
                <p>Confirm Password </p>
                <input type="password" id="password-confirm" name="confirm password" autocomplete="off" placeholder="e.g., *********" required>

                <input type="submit" id="register-btn"  value="Submit"></button>
        </form>

    </body>
</html>